.pad-top-10{padding-top: 10px;}
.pad-top-20{padding-top: 20px;}
.pad-top-30{padding-top: 30px;}

.top-bar{
	background-color:#ca2129;
	height: 5px;
	margin-bottom: 1px;
}
.navbar{
	margin-bottom: 1px;
}
.navbar li:hover{
	background-color: #ccc;
	color: red;
}
.jumbotron{
	background: url(../images/waterdrop.jpg) no-repeat 50% 0;
	height: 350px;
	padding: 0;
}
/*.jumbotron [class*="col-"]{
	background-color: #eee;
}*/
.jumbotron-content{
	color: #ffffff;
	margin-top: 15px;
}
.jumbotron-content h2{
	border-bottom:1px solid white;
}
.bluebox{
	background-color: #2e98cc;
	overflow: hidden;
	height: 230px;
	color: #ffffff;
	padding: 0 10px;
	font-size: 120%;
}
.bluebox a.readmore{
	position: absolute;
	bottom:15px;
	left:30px;
	background:#2b8cbc;
	padding: 10px 15px;
	color: #fff;
}
.bluebox a.readmore:hover{
	background-color:#0000FF;	
}
.redbox{
	background-color: #ca2129;
	overflow: hidden;
	height: 230px;
	color: #ffffff;
	padding: 0 10px;
	font-size: 120%;
}
.redbox a.readmore{
	position: absolute;
	bottom:15px;
	left:30px;
	background:#990000;
	padding: 10px 15px;
	color: #fff;
}
.redbox a.readmore:hover{
	background-color:#CC0000;	
}
.media-body{
	font-size: 120%;
}
.panel .panel-heading{
	background-color:#2e98cc; 
	color: #fff;
}

